cachetools==3.1.0
certifi==2019.3.9
chardet==3.0.4
Click==7.0
dialogflow==0.5.2
dj-database-url==0.5.0
Django==2.2.13
django-heroku==0.3.1
et-xmlfile==1.0.1
Flask==1.0.2
freeze==1.0.10
get==2019.3.22
google-api-core==1.8.1
google-auth==1.6.3
googleapis-common-protos==1.5.8
grpcio==1.19.0
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
jdcal==1.4
Jinja2==2.10
MarkupSafe==1.1.1
numpy==1.16.2
openpyxl==2.6.1
pandas==0.24.2
post==2019.3.22
protobuf==3.7.0
psycopg2==2.7.7
public==2019.3.22
pyasn1==0.4.5
pyasn1-modules==0.2.4
python-dateutil==2.8.0
python-dotenv==0.10.1
pytz==2018.9
query-string==2019.3.22
request==2019.3.22
requests==2.21.0
rsa==4.0
scikit-learn==0.20.3
scipy==1.2.1
six==1.12.0
sklearn==0.0
sqlparse==0.3.0
urllib3==1.24.1
Werkzeug==0.14.1
whitenoise==4.1.2
