<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load staticfiles %}
  <link href="{%static 'scoring/css/bootstrap.min.css'  %}" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
  <script src="{%static 'scoring/jquery/jquery.min.js' %}"></script>
  <script src="{%static 'scoring/jquery/popper.min.js' %}"></script>
  <script src="{%static 'scoring/jquery/bootstrap.min.js' %}"></script>
  <style>
  .responsive {
  width: 20%;
  max-width: 180px;
  height: auto;
}
</style>
</head>
<body>
<!--Deloitte logo and the describtion of the site-->
<div class="jumbotron"style="background-color:black">
  <img alt="Brand" src="/static/scoring/images/logo.jpg" alt="Mountain View" class="responsive"style="width:182;height:39;margin-bottom:-100px;margin-left:-15px;padding-bottom: 10px;" align="left">
  <h1 style="font-family:verdana;font-size:1vw;color:white;margin-bottom:-100px; text-align:right;">Credit <span style="color:#86bc25;font-weight:bold;">Scoring </span></h1>

</div>
</div>
<!-- The form the clients inputs his or her details -->
<div class="container">
  <div class="row">
    <div class="col-sm-12" align="center">
      <h3 style="font-family:verdana,font-size:10px;">Loan application details</h3>
      <form action=" " method="POST" >
        {% csrf_token %}
      <div class="col-sm-6">
        ID Number<br>
        <input type="number" name="ID" id="ID">
        <br/>
      </div>
      <div class="col-sm-6">
        Gender<br>
        <input type="text" name="Gender" id="Gender">
        <br/><br>
      </div>
      <div class="col-sm-6">
        Age<br>
        <input type="number" name="Age" id="Age">
        <br/><br>
      </div>
      <div class="col-sm-6">
        Salary<br>
        <input type="number" name="Salary" id="Salary">
        <br/><br>
      </div>
      <div class="col-sm-6">
        Loan Amount<br>
        <input type="number" name="Loan_amount" id="Loan_Amount">
        <br>
      </div>
      <div class="col-sm-6">
        Term:<br>
        <input type="number" name="Term" id="Term">
        <br><br>
      </div>
      <!-- <input/> -->
      <!-- <button onclick="window.open='../createpost'" type="Submit" value="Submit" >Submit</button> -->

      <button  type="Submit" value="Submit" ><a href="../createpost" target="_self"> Submit </a></button>
      <!-- <button type="Submit" value="Submit" onclick="href='/createpost'">Submit</button> -->
      </form>
    </div>

  </div>
</div>
<!-- inserting the data from the database for confirmation -->
<script>
      var ClientsInfo={{client_info|safe}};
      document.getElementById("ID").value = parseInt(ClientsInfo[0],10);
      document.getElementById("Term").value = ClientsInfo[1];
      document.getElementById("Gender").value = ClientsInfo[2];
      document.getElementById("Age").value = ClientsInfo[3];
      document.getElementById("Loan_Amount").value = parseInt(ClientsInfo[4],10);
      document.getElementById("Salary").value =parseInt(ClientsInfo[5],10);
</script>

</body>
</html>
